## In This Notebook, We are Connecting with the MySql WorkBench to work with joining the data using mysqlalchemy first and later import the joined data into python environment using mysql connector

#### WE GET THE CURRENT WORKING DIRECTORY AND DISPLAY IT OUT TO CHECK THE VALIDITY OF DIRECTORY

In [1]:
import os
path1 = os.getcwd()
path2 = "\\1_Preprocessing_Data_&_EDA_LEVEL_0\\"
final_path = path1 + path2

In [3]:
path1

'C:\\Users\\Mihir\\8_CAPSTONE PROJECT\\S1_Data_Preprocessing'

In [4]:
final_path

'C:\\Users\\Mihir\\8_CAPSTONE PROJECT\\S1_Data_Preprocessing\\1_Preprocessing_Data_&_EDA_LEVEL_0\\'

#### IMPORTING PANDAS LIBRARY FOR READING CSV FILES

In [8]:
## IMPORTING PANDAS LIBRARY FOR READING CSV FILES
import pandas as pd
## TO IGNORE THE FUNCTION ERRORS DOCUMENTED WHILE CREATING THE FUNCTIONS IF ANY
import warnings
warnings.filterwarnings('ignore')

TREATED FILES -- "appearances_df_no_win.csv", "game_events_df_no_win.csv", "game_lineups_df_no_win.csv", "games_df_winsorised.csv", "players_df_winsorised.csv"

ORIGINAL FILES -- "players.xlsx’, 'games.xlsx’, 'game_lineups.xlsx’, 'game_events xlsx’, 'appearances.xlsx’

#### READING THE CSV FILES

In [11]:
## CREATING DATAFRAMES OF EACH TREATED CSV FILE
appearances_df_no_win = pd.read_csv(final_path + "appearances_df_no_win.csv")
players_df_winsorised = pd.read_csv(final_path + "players_df_winsorised.csv")
games_df_winsorised = pd.read_csv(final_path + "games_df_winsorised.csv")
game_lineups_df_no_win = pd.read_csv(final_path + "game_lineups_df_no_win.csv")
game_events_df_no_win = pd.read_csv(final_path + "game_events_df_no_win.csv")
test_df = pd.read_csv(final_path + "test data.csv")

In [14]:
## IMPORTING THE MYSQL.CONNECTOR TO ESTABLISH CONNECTION WITH football_analysis_eda DATABASE IN MYSQL WORKBENCH
import mysql.connector as sql

## ESTABLISHING CONNECTION TO THE MYSQL WORKBENCH DATABASE 
db = sql.connect(host='localhost', user='root',password='1234')
display(db)

## CREATING CURSOR OBJECT TO ACCESS THE TABLES WITHIN
my_cursor = db.cursor()
display(my_cursor)


try:
    my_cursor.execute("DROP DATABASE IF EXISTS football_analysis_eda")
    my_cursor.execute("CREATE DATABASE football_analysis_eda") 
    db.commit() # Commit the changes
except ValueError as e:
    print(e)
finally:
    db.close() # Close the connection

#### TO Connect with MySql Workbench we create a container to store the address of the exact database location in MySql Server
#### We achieve this by using create_engine class from sqlalchemy module

In [17]:
# IMPORTING CREATE_ENGINE FOR CREATING AN ENGINE WHILE SAVING THE DATA IN RDBMS
from sqlalchemy import create_engine

# INITIALIZING VARIABLES TO STORE DATABASE INFO
hostname = 'localhost'
dbname = 'football_analysis_eda'
user = 'root'
pwd = '1234'

# CREATING AN ENGINE OBJECT TO STORE MYSQL DATABASE ADDRESS
engine = create_engine(f'mysql+pymysql://{user}:{pwd}@{hostname}/{dbname}')
engine

Engine(mysql+pymysql://root:***@localhost/football_analysis_eda)

#### USING THE EXACT LOCATION OF THE DATABASE WE CREATED EARLIER
#### WE CONVERT THE DATAFRAME TO BE STORED AS A SQL TABLE USING .to_sql() METHOD OF PANDAS DATAFRAME

In [20]:
# SAVING THE DATAFRAME AS A NEW TABLE IN THE football_analysis_eda DATABASE
try:
    ## give name of the sql table, the addresss of the database, whether we want the indexes to be placed
    ## and delete the table if it exists
    appearances_df_no_win.to_sql(name = 'appearances', con = engine, index = False, if_exists = "replace")
    players_df_winsorised.to_sql(name = 'players', con = engine, index = False, if_exists = "replace")
    games_df_winsorised.to_sql(name = 'games', con = engine, index = False, if_exists = "replace")
    game_lineups_df_no_win.to_sql(name = 'game_lineups', con = engine, index = False, if_exists = "replace")
    game_events_df_no_win.to_sql(name = 'game_events', con = engine, index = False, if_exists = "replace")
    # test_df.to_sql(name = 'test_data', con = engine, index = False, if_exists = "replace")
except ValueError as e:
    print(e)
else:
    print('Successfully Created !!!')
finally:
    engine.dispose() # Closing the connection
    print("Connection closed.")

Successfully Created !!!
Connection closed.

###### NOTE -- WE HAVE USED TRY EXCEPT BLOCK SO THAT IF ANY ERROR OCCURS IT IS HANDLED WITHOUT CRASHING THE PROGRAM
######         IF ANY ERROR IS CAUGHT IN ANY OF THE CASES EXCEPT BLOCK WILL PRINT THE ERROR WITHOUT CRASHING THE PROGRAM

### HERE WE WORK WITH MYSQL DATABASE TO JOIN THE DATA

## CONTINUING FROM MYSQL WORKBENCH TO WORK ON MERGING THE DATA IN A SINGLE DATATABLE

### AFTER JOINING THE ENTIRE DATA WE WILL EXPORT THE FILE USING

## EXPORTING THE DATAFILE FROM MYSQL
#### We use connector class from mysql module to connect to the database establish cursor object to access the table
#### This enables to pass MySql Queries in python to get the data directly from sql into dataframe

In [25]:
## IMPORTING THE MYSQL.CONNECTOR TO ESTABLISH CONNECTION WITH football_analysis_eda DATABASE IN MYSQL WORKBENCH
import mysql.connector as sql

## ESTABLISHING CONNECTION TO THE DATABASE football_analysis_eda
db = sql.connect(host='localhost', user='root',password='1234',database='football_analysis_eda')
display(db)

## CREATING CURSOR OBJECT TO ACCESS THE TABLES WITHING
my_cursor = db.cursor()
display(my_cursor)

#### GET THE DATA AND STORE THE DATA IN DATAFRAME

# new query hopefully working -- not working same as below query for analysis
query = '''SELECT
	-- games tables
	g.game_id,
    g.competition_id, g.season, g.round, g.date AS g_date, g.home_club_goals, g.away_club_goals, g.home_club_position, g.away_club_position, g.home_club_manager_name, 
    g.away_club_manager_name, g.stadium, g.attendance, g.referee, g.home_club_name, g.away_club_name, g.aggregate, g.competition_type,
    
    -- players tables
    p.player_id, p.name, p.country_of_birth, p.height_in_cm, p.market_value_in_eur, p.position AS player_position, p.sub_position AS player_sub_position, 
	p.date_of_birth, p.last_season, p.current_club_id, p.player_code, p.foot, p.market_value_in_eur as p_market_value_in_eur, 
    p.highest_market_value_in_eur, p.contract_expiration_date, p.agent_name,
	
    -- game_events tables
    ge.game_event_id, ge.date AS ge_date, ge.minute, ge.type, ge.description, ge.player_in_id,

	-- apperance tables
    a.appearance_id, a.date AS a_date, a.minutes_played, a.yellow_cards, a.red_cards, a.goals, a.assists,

    
    -- game_lineup tables
    gl.game_id as gl_game_id, gl.game_lineups_id, gl.number, gl.team_captain, gl.type as gl_type
FROM appearances a 
INNER JOIN games g ON a.game_id = g.game_id
INNER JOIN players p ON a.player_id = p.player_id
INNER JOIN game_events ge ON g.game_id = ge.game_id
INNER JOIN game_lineups gl ON p.player_id = gl.player_id;


'''

In [ ]:
# og query with confusion in joins
query = '''SELECT 
	-- columns required from games tables
	g.game_id,
    g.competition_id, g.season, g.round, g.date AS g_date, g.home_club_goals, g.away_club_goals, g.home_club_position, g.away_club_position, g.home_club_manager_name, 
    g.away_club_manager_name, g.stadium, g.attendance, g.referee, g.home_club_name, g.away_club_name, g.aggregate, g.competition_type,
    
    -- columns required from players tables
    p.player_id, p.name, p.country_of_birth, p.height_in_cm, p.market_value_in_eur, p.position AS player_position, p.sub_position AS player_sub_position, 
	p.date_of_birth,
    /*addnew*/ 
    p.last_season, p.current_club_id, p.player_code, p.foot, p.market_value_in_eur as p_market_value_in_eur, p.highest_market_value_in_eur, p.contract_expiration_date, p.agent_name,
	
    -- columns required from game_events tables
    ge.game_event_id, ge.date AS ge_date, ge.minute, ge.type, ge.description, ge.player_in_id,

	-- columns required from apperance tables
    a.appearance_id, a.date AS a_date, a.minutes_played, a.yellow_cards, a.red_cards, a.goals, a.assists,
	/* addnew */
    a.minutes_played,
    -- a.game_id as a_game_id, a.player_id as a_player_id, 
    
    -- columns required from game_lineup tables
    gl.game_id as gl_game_id, gl.game_lineups_id, gl.number, gl.team_captain, gl.type as gl_type
    /*addnew */
   -- ,gl.sub_position as gl_sub_position

FROM games g
INNER JOIN game_events ge ON g.game_id = ge.game_id
INNER JOIN appearances a ON g.game_id = a.game_id
INNER JOIN players p ON a.player_id = p.player_id
INNER JOIN game_lineups gl ON p.player_id = gl.player_id # can use left join will get around 5088 rows 
ORDER BY g.game_id;
 '''

In [30]:
## CREATING A DATAFRAME BY PASSING SELECT ALL QUERY TO GET THE MERGED DATA INTO PYTHON 
# query = '''SELECT * FROM final_merge'''
Football_data_merged_cleaned = pd.read_sql_query(query, db)
Football_data_merged_cleaned

,game_id,competition_id,season,round,g_date,home_club_goals,away_club_goals,home_club_position,away_club_position,home_club_manager_name,...,minutes_played,yellow_cards,red_cards,goals,assists,gl_game_id,game_lineups_id,number,team_captain,gl_type
0,2231479,L1,2012,12. Matchday,2012-11-17,1,1,15.0,1.0,Dieter Hecking,...,90,1,0,0,0,4194139,424b632d9ccda4e304c3bf566a00aa06,22,0,substitutes
1,2231479,L1,2012,12. Matchday,2012-11-17,1,1,15.0,1.0,Dieter Hecking,...,90,1,0,0,0,4162639,21de58902f547e231bf2604be9fa996f,22,0,substitutes
2,2231479,L1,2012,12. Matchday,2012-11-17,1,1,15.0,1.0,Dieter Hecking,...,90,1,0,0,0,4162615,cc79e78c570ce19872dfed125d324407,22,0,substitutes
3,2231479,L1,2012,12. Matchday,2012-11-17,1,1,15.0,1.0,Dieter Hecking,...,90,1,0,0,0,4096061,3efc21c645e46b2f411bcdb1710aa444,22,0,substitutes
4,2231479,L1,2012,12. Matchday,2012-11-17,1,1,15.0,1.0,Dieter Hecking,...,90,1,0,0,0,4096042,d53eb3fd74523d6dd4536653c145ae96,22,0,substitutes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4194,3447015,DK1,2020,2. Matchday,2020-09-20,1,1,4.0,9.0,Jakob Michelsen,...,90,0,0,1,0,4094628,3f388d503b139ba46e9426d2b64258e4,11,0,substitutes
4195,3447015,DK1,2020,2. Matchday,2020-09-20,1,1,4.0,9.0,Jakob Michelsen,...,90,0,0,1,0,4094619,0aff78904ab15b833a9c6a95a469d00f,11,0,substitutes
4196,3447015,DK1,2020,2. Matchday,2020-09-20,1,1,4.0,9.0,Jakob Michelsen,...,90,0,0,1,0,4094611,3b8cab6fe74dde56f0f448569a48e7e3,11,0,substitutes
4197,3447015,DK1,2020,2. Matchday,2020-09-20,1,1,4.0,9.0,Jakob Michelsen,...,90,0,0,1,0,4094598,d1b0127445a661e24f1852494f9aa754,99,0,substitutes
4198,3447015,DK1,2020,2. Matchday,2020-09-20,1,1,4.0,9.0,Jakob Michelsen,...,90,0,0,1,0,4094594,368389f138785a44c736687b9d581a40,99,0,substitutes

In [32]:
db.close()

#### EXPORT THE DATAFRAME TO CSV FOR FURTHER ANALYSIS

In [35]:
Football_data_merged_cleaned.to_csv("Football_data_merged_cleaned.csv", index = False)